APP_NAME="REBA Lanzamientos"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://tu-dominio.vercel.app

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_PE

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=db.tu-project-ref.supabase.co
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=
DB_SSLMODE=require

SUPABASE_URL=https://tu-project-ref.supabase.co
SUPABASE_PROJECT_NAME=
SUPABASE_PROJECT_REF=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_SERVICE_ROLE_KEY=

SESSION_DRIVER=database
SESSION_LIFETIME=120
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS="marketing@rebagliati.edu.pe"
MAIL_FROM_NAME="${APP_NAME}"

ADMIN_NAME="Admin REBA"
ADMIN_EMAIL=admin@rebagliati.edu.pe
ADMIN_PASSWORD=

VITE_APP_NAME="${APP_NAME}"
